p{
  margin-left: 40px;
  margin-top: 20px;
}

.logo{
  width: 50vh;
  margin-top: 100px;
}

ul li {
  list-style: none;
  float: left;
}

.navlink {
  text-decoration: none;
  margin-right: 50px;
  box-sizing: border-box;
  color: black;
  padding: 5px;
  border-radius: 3em;
}

.active-navlink {
  background-color: black;
  color: white;
}

h2 {
  margin-left: 40px;
}